@import '../../styles.scss';

.basic-commands-container {
  color: $darkColor;
  background-color: $lightColor;
  height: 100vh;
  i {
    margin: 1em 0 0 1.5em;
    font-size: 1.5em;
    color: $darkColor;
  }
  h3 {
    margin-top: 0.5em;
  }
}