.ss-oo-clase-4-container {
  text-align: center;
  color: white;
  padding-bottom: 4em;
  ul {
    list-style-type: none;
  }
  i {
    margin: 1em 0 0 1.5em;
    font-size: 1.5em;
  }
}

.commands-used-list {
  li {
    margin: 0 auto 10px auto;
    width: 50%;

    code {
      background-color: white;
      padding: 2px 5px ;
    }
  }
}