.clase2-container {
  color: white;
}

.grilla-actividad {
  font-family: 'Source Sans Pro', sans-serif;

  border: 1px solid white;
  ul {
    text-align: left;
  }

  .custom-grid {
    border: 1px solid grey;
  }
  .custom-row {
    border: 1px solid grey;
    height: 30px;
  }
}