ul {
  margin: 0 auto;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  ul {
    margin-bottom: 1em;
  }
}

.custom-nav-item-sytle {
  list-style-type: none;
  border: 1px solid white;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #7d879b;
  a {
    color: white;
    text-decoration: none;
  }
}